<footer class="footer">
  <div class="footer__container">
      <p class="footer__love">{{ site.data.strings.footer.copyright }}</p>
      <ul class="footer__links">
        <li class="footer__link"><a id="newsletter-register" class="clickable">Newsletter</a></li>
        <li class="footer__link"><a href="https://discord.gg/FCzYt8u" target="_blank">Discord</a></li>
        <li class="footer__link"><a href="https://t.me/LearningLabCommunity" target="_blank">Telegram</a></li>
        <li class="footer__link"><a href="https://medium.com/learning-lab" target="_blank">Medium</a></li>
        <li class="footer__link"><a href="https://github.com/sandoche/LearningLab-website" target="_blank">Github</a></li>
      </ul>
  </div>
</footer>

