<dialog id="favDialog" class="site-dialog">
 <header class="dialog-header">
   <h1>Get Started</h1>
 </header>
 <div class="dialog-content">
   <a class="button button--telegram" href="https://t.me/LearningLabCommunity"><i class="fab fa-telegram"></i> Join the Telegram Group</a>
   <p>- OR -</p>
  <iframe style="height:100%;width:100%;max-width:800px;margin:30px auto;" frameBorder="0" src="https://upscri.be/ba4e23?as_embed"></iframe>
 </div>
 <div class="btn-group cf">
   <a class="button button--dark" id="cancel">Done</a>
 </div>
</dialog>
