<div style="display: none;" id="netlify-form">
  <form name="contact" method="POST" netlify>
    <input type="hidden" name="page" value="{{ page.id }}">
    <input type="hidden" name="type" value="" id="form-input-type">
    <label><p class="form__label"><strong id="form-input-label"></strong></p><input type="text" name="value" id="form-input-value" class="text-input" required/></label>
    <label><p class="form__label"><strong>Email (optional)</strong> - To get notified when your suggestion is added</p><input type="email" name="email" class="text-input"/></label>
    <label><p class="form__label"><strong>NEAR wallet (optional)</strong> - Get rewarded (soon)<br><a href="https://near.org" target="_blank">Read more about NEAR</a></p><input type="text" name="near" class="text-input"/></label>
    <div data-netlify-recaptcha></div>
    <button type="submit" class="button button--primary">Send</button>
  </form>
</div>