// CSS Variables
:root {
  --font-xl: 52px;
  --font-lg: 32px;
  --font-md: 24px;
  --font-sm: 18px;
  --font-xs: 16px;
  --font-xxs: 14px;

  @media (max-width: 768px) {
    --font-xl: 36px;
    --font-lg: 24px;
    --font-md: 20px;
    --font-sm: 16px;
    --font-xs: 14px;
    --font-xxs: 12px;
  }
}

// Variables

$container-width: 1200px;
$container-padding: 30px;

$primary-color: #5A51FE;
$secondary-color: #8751FE;
$text-color: #222;
$link-color: $primary-color;
$background-color: #F6F8FA;
$grey-color: #65638f;
$light-grey-color: #F6F8FA;

$font-xl: var(--font-xl);
$font-lg: var(--font-lg);
$font-md: var(--font-md);
$font-sm: var(--font-sm);
$font-xs: var(--font-xs);
$font-xxs: var(--font-xxs);

$system-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$primary-font-family: $system-font-family;
$secondary-font-family: 'Heebo', sans-serif;

// Mixin

@mixin container($padding) {
  max-width: $container-width;
  padding: 0 $padding;
  margin: auto;
}


// Global

body {
  font-family: $primary-font-family;
  color: $text-color;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
  width: 100%;
}

a {
  color: $link-color;
  text-decoration: none;
  font-size: $font-sm;

  &:hover {
    color: $primary-color;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $secondary-font-family;
}

// Shared

.button {
  display: flex;
  background: linear-gradient(65deg, $primary-color 0, $secondary-color 100%);
  font-family: $secondary-font-family;
  color:#fff;
  display: inline-flex;
  font-size: $font-xxs;
  letter-spacing: 0px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none !important;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  justify-content: center;
  padding: 16px 32px;
  text-align: center;
  white-space: nowrap;
  box-shadow: 0 8px 24px rgba(32,43,54,0.12);
  mix-blend-mode: multiply;
  transition: all .15s ease;

  &:hover {
    color: #fff;
    box-shadow: 0 8px 24px rgba(32,43,54,0.25);
  }

  &--link {
    background: rgba(0,0,0,0);
    color: $primary-color;
    box-shadow: none;

    &:hover {
      color: $secondary-color;
      box-shadow: none;
    }
  }
}

.accent {
  color: $primary-color;
}

.container {
  @include container($container-padding);
}

.text-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.form__label {
  color: $grey-color;
  margin-bottom: 0;
}

// Components & pages

.navigation {

  @include container($container-padding);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: 32px;
  margin-bottom: 32px;
  font-family: $secondary-font-family;

  &__branding {
      display: flex;
      align-items: center;
  }

  &__title {
    color: $text-color !important;
    font-size: $font-sm;
    font-weight: 700;
  }

  &__logo {
    margin-right: 10px;
  }

  &__logo-img {
    height: 40px;
    width: 40px;
  }

  &__links {
    display: flex;
    flex-direction: row;
  }

  &__link {
    margin-left: 64px;
    font-size: $font-xs;
    font-weight: 700;
    color: $grey-color;

    &--active {
      color: $primary-color;
    }
  }

}

.footer {
  // border-top: 1px solid lighten($link-color, 40%);
  padding: 30px 0;
  margin-top: 80px;
  font-size: $font-xs !important;

  a {
    font-size: $font-xs !important;
  }

  &__container {
    @include container($container-padding);
    color: $grey-color;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__links {
    list-style: none;
    display: flex;
  }

  &__link {
    margin-left: 32px;
  }

}
