.home {

  @include container($container-padding);

  height: calc(100vh - 120px - 161px);
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;


  &__headline-container {
    padding: 0 $container-padding * 3;
  }

  &__headline {
    font-size: $font-md;
    color: $grey-color;
    margin: 0;
    margin-bottom: 16px;
    font-weight: 400;
  }

  &__learning {
    font-size: $font-xl;
    font-weight: 700;
    margin: 0;
    margin-bottom: 16px;
  }
}
