---
layout: default
---

<header class="header">
  <div class="home__header">
    <div class="home__picture">
      <img class="home__photo" src="/assets/images/photo.jpg" alt="Photo Sandoche">
    </div>
    <div class="home__text">
      <h1 class="home__title">{% t header.uvp %}</h1>
      <p class="home__description">{% t header.description %}</p>
      <a class="button" href="{% t header.call_to_action_url %}">{% t header.call_to_action_text %}</a>
    </div>
  </div>
</header>

<div class="home">
  <main class="home__content">
    {% assign topics = site.translations[site.lang].topics | reverse %}
    {% for topic in topics %}
      <p class="article__number">{% t content.challenge %} #{{ topic.id }}</p>
      <article class="article{% if topic.shadow == true %} article__shadow{% endif %}" style="background-color:{{ topic.color }}; background-image: url({{ topic.image }})">
        <a href="{{ topic.url }}">
          <p class="article__overtitle">{{ topic.month }}</p>
          <h2 class="article__title">{{ topic.title }}</h2>
        </a>
        <div class="article__details">
          <div class="article__days">
            <h3 class="article__outcome-title">{% t content.duration %}</h3>
            <p>{{ topic.days }} {% t content.days %}</p>
          </div>
          <div class="article__outcome">
            <h3 class="article__outcome-title">{% t content.outcome %}</h3>
            <p>
              {% for project in topic.projects %}
                <a class="article__project" href="{{ project.url }}" title="{{ project.name }}" target="_blank"><i class="fab fa-{{ project.icon }}"></i> {{ project.name }} {% if forloop.last != true %}&nbsp;|&nbsp;{% endif %}</a>
              {% endfor %}
            </p>
          </div>
        </div>
      </article>

    {% endfor %}
  </main>
</div>
