---
layout: default
---
<div class="topic">
  <header class="page__header">
    <div class="container page__header-container">
      <h1 class="page__title">{{ page.infos.title }}</h1>
      <p class="page__description">{{ page.infos.description }}</p>
    </div>
  </header>
  <section class="container">
    <div class="topic__category">
      <div class="topic__title-section">
        <h2>{{ site.data.strings.topic.resources_title }}</h2>
        <a href="" class="button button--link">+ {{ site.data.strings.topic.resources_add }}</a>
      </div>
      <div class="topic__content-section topic__resources">
        {% for resource in page.resources %}
          <a href="{{ resource.url }}" class="topic__resource" style="background-color: {{ site.data.topics.metadata[page.id].color }}">
            <article>
              <p>{{ resource.title }}</p>
            </article>
          </a>
        {% endfor %}
      </div>
    </div>

    <div class="topic__category">
        <div class="topic__title-section">
          <h2>{{ site.data.strings.topic.experiences_title }}</h2>
          <a href="" class="button button--link">+ {{ site.data.strings.topic.experiences_add }}</a>
        </div>
        <div class="topic__content-section topic__experiences">
          {% for experience in page.experiences %}
            <a href="{{ experience.url }}" class="tools__tool topic__experience">
              <article>
                <h3>{{ experience.title }}</h3>
                <p>{{ experience.source }} - by {{ experience.author }}</p>
              </article>
            </a>
          {% endfor %}
        </div>
      </div>

      <div class="topic__category">
        <div class="topic__title-section">
          <h2>{{ site.data.strings.topic.projects_title }}</h2>
          <a href="" class="button button--link">+ {{ site.data.strings.topic.projects_add }}</a>
        </div>
        <div class="topic__content-section">
          {% for project in page.projects_ideas %}
            <ul class="topic__project">
              <li>{{ project.title }}</li>
            </ul>
          {% endfor %}
        </div>
      </div>

      <div class="topic__category">
        <div class="topic__title-section">
          <h2>{{ site.data.strings.topic.community_title }}</h2>
        </div>
        <div class="topic__content-section">
          <p>{{ site.data.strings.topic.community_subtitle }}</p>
          <a href="">Put button here</a>
        </div>
      </div>

  </section>
</div>
