---
layout: default
---
<div class="topics">
  <header class="topics__header">
    <h1 class="topics__title">{{ site.data.strings.topics.title }}</h1>
    <p class="topics__description">{{ site.data.strings.topics.description }}</p>
  </header>
  <section class="topics__list">
    {% for topic in site.data.topics.list %}
      <a href="/learning/{{ topic.slug }}" class="topics__topic">
        <article>
          <p>{{ topic.name }}</p>
        </article>
      </a>
    {% endfor %}
  </section>
</div>
